@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* 
The * means "all elements" (a universal selector), so we are setting all elements to have zero margins, 
and zero padding, thus making them look the same in all browsers. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; means that the minimum height of an element should be 100% of the 
  viewport height. It is a CSS media query used to set the minimum height of an 
  element to be equal to the height of the viewport. */
  min-height: 100vh;
  background: #1d817e;
}

.container {
  width: 450px;
  border-radius: 7px;
  background: #f1e0da;
}

.container h2 {
  font-size: 25px;
  font-weight: 500;
  padding: 18px 25px;
  border-bottom: 1px solid #c0b2ad;
}

.container .content {
  margin: 25px 20px 35px;
}

.content .word {
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-right: -24px;
}

.content .details {
  margin: 25px 0 20px;
}

.details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.details p b {
  font-weight: 500;
}

.content input {
  width: 100%;
  height: 60px;
  outline: none;
  font-size: 18px;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #c0b2ad;
}

.content .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  /* Calc() is a function that allows us to perform calculations when specifying 
  CSS property values. Simplifies the positioning of an item with 
  an already predetermined margin. wherever length, percentage, time, numbers, integers, 
  frequencies, and angles are specified, this function can be used.*/
  width: calc(100% / 2 - 8px);
  font-size: 17px;
  border-radius: 5px;
  padding: 15px 0;
}

.buttons .refresh {
  background: #6c757d;
}

.buttons .check {
  background: #1d817e;
}
